<div *ngIf="!isGameReady() && !isGameStarted()">
    Waiting for other player...
</div>
<div *ngIf="isGameReady() && role !== 'creator'">
    Waiting for creator to start the game...
</div>
<button *ngIf="isGameReady() && role === 'creator'" (click)="startGame()">Start game</button>

<div *ngIf="isGameStarted() && gameData">
    <div>
        Player 1
        <div>
            <button
            [disabled]="isDisabled('creator', i, 'firstPlayer')"
            *ngFor="let stones of gameData.firstPlayer.pits; index as i"
            (click)="sowStones(i, 'firstPlayer')"> 
                {{ stones }}
            </button>
            Large pit: {{ gameData.firstPlayer.largePit }}
        </div>
        Player 2
        <div>
            <button
            [disabled]="isDisabled('player', i, 'secondPlayer')"
            *ngFor="let stones of gameData.secondPlayer.pits; index as i"
            (click)="sowStones(i, 'secondPlayer')"> 
                {{ stones }}
            </button>
            Large pit: {{ gameData.secondPlayer.largePit }}
        </div>
    </div>
    <br>
</div>
